<?xml version="1.0" encoding="utf-8"?>
<!--
  Runner 的 Manifest：不申请任何权限（W21 起加入 RunnerService，要求 org.agentos.permission.RUN_COMMANDS）。
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="AgentOS Runner" />

</manifest>
